<!--
Copyright (c) 2024 Aysha Amreen, Kat Ragle, Edwin Zheng, Ezinna Ononuju. All rights reserved.

This is a project developed by Aysha Amreen, Kat Ragle, Edwin Zheng, Ezinna Ononuju for the final project in CS4370 - Database Management 
course at the University of Georgia. Any form of reproduction, distribution, or transmission of the software's source code, in part or whole, 
without the prior written consent of the copyright owner, is strictly prohibited.
-->
<div class="footer">
    <div class="content-center">
        Copyright &copy; 2024 Aysha Amreen, Kat Ragle, Edwin Zheng, Ezinna Ononuju. All rights reserved.
        <p>
        This is a project developed by Aysha Amreen, Kat Ragle, Edwin Zheng, Ezinna Ononuju for the final project in CS4370 - Database Management 
        course at the University of Georgia. Any form of reproduction, distribution, or transmission of the software's source code, in part or whole, 
        without the prior written consent of the copyright owner, is strictly prohibited.
        </p>
    </div>
</div>