<div class="item framed">
    <img src="/items/{{name}}.jpg" alt="Item Image">
    <div class="item-body">
        <a href="/item/{{itemId}}"><h3>{{size}} {{name}}</h3></a>
        <h3>{{reviewCount}} reviews</h3>
        <h3>${{price}}</h3>
    </div>
</div>
