<div class="container">
    <!-- Popular Items Section -->
    <div class="heading">
        <h1>Most Popular</h1>
        <img src="/headings/popular.jpg" alt="Fire icon">
    </div>
    <div class="items">
        {{#popularItems}}
            {{> fragments/popular_items}}
        {{/popularItems}}
    </div>
</div>