<div class="container">
    <!-- Reviews Section -->
    <div class="recipe">
        <h2>Reviews</h2>
    </div>
    <hr>
    {{#reviews}}
        <div>
            {{> fragments/review}}
        </div>
    {{/reviews}}
</div>