<div class="review framed">
    <img src={{user.profileImagePath}} alt="User avatar">
    <div class="review-body">
        <div class="username">{{user.userId}}</div>
        <div class="review-date">{{reviewDate}}</div>
        <div class="review-content">{{content}}</div>
    </div>
</div>