<div class="container">
    <!-- Search Result Items Section -->
    <h1>Is this what you're looking for?</h1>
    <div class="items">
        {{#searchItems}}
            {{> fragments/items}}
        {{/searchItems}}
    </div>
</div>